
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

form.login-form {
    background-color: #fff;
    padding: 26px !important;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.login {
    background-color: #f1f1f1;
}

.page-container-bg-solid .page-bar, .page-content-white .page-bar {
    background-color: #eef1f5;
    position: relative;
    padding: 0 20px;
    margin: -25px -20px 0;
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: $red-parts !important;
}

.page-header.navbar {
    background-color: #fff !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.13) !important;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a {
    background: $red-parts !important;
    border-left: 4px solid #fff !important;
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #3d4957;
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
    background: $red-parts-light !important;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
    color: #fff !important; 
}

.page-container .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a{
	background: $red-parts !important;
}

 .page-sidebar .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^=icon-] {
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before {
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class*=icon-], .page-sidebar .page-sidebar-menu .sub-menu>li>a>i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i[class^=icon-] {
    color: #fff !important;
}

.page-container-bg-solid .page-sidebar .page-sidebar-menu>li.active>a>.selected, .page-container-bg-solid .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected {
    border-color: transparent #fff transparent transparent !important;
}

.page-header.navbar .menu-toggler>span, .page-header.navbar .menu-toggler>span:after, .page-header.navbar .menu-toggler>span:before, .page-header.navbar .menu-toggler>span:hover, .page-header.navbar .menu-toggler>span:hover:after, .page-header.navbar .menu-toggler>span:hover:before {
    background: #000 !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: $light-blue-parts !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username{
	color: #000 !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: #000 !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #000 !important;
}

.page-container-bg-solid .page-content {
    background: #fff !important;
}

.page-content-wrapper{
	background: $red-parts;
}

.page-footer{
	background: $red-parts-light;
}

.page-footer .page-footer-inner {
    color: #fff !important;
}

.scroll-to-top>i {
    color: $red-parts-light !important;
}

.dashboard-stat2 {
    background: #EEF1F5 !important;
}

.login .form-title , .login .form-subtitle , .login .content .mt-checkbox {
    color: #000 !important;
}

.portlet.light {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19) !important;
}

.page-header.navbar .page-logo .logo-default{
    margin: 4px 0 0 !important; 
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 0px solid #111 !important;
    background-color: #585858;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

.portlet {
    overflow: hidden;
}

.popover-header {
    padding: 8px 14px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
    color: #fff;
    background-color: $red-parts;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.popover-body {
    padding: 9px 14px;
    color: #212529;
    text-align: right;
}

table.dataTable thead .sorting:after{
    content: none !important;
}

table.dataTable thead .sorting_asc:after {
    content: none !important;
}

table.dataTable thead .sorting_desc:after {
    content: none !important;
}

.actions2{
    right: 192px;
    position: absolute !important;
}

.actions2 a{
    padding: 6.3px 12px !important;
}

.portlet.light>.portlet-title>.actions2 {
    padding: 2px 0 14px !important;
}

.btn.btn-outline.dark.active, .btn.btn-outline.dark:active, .btn.btn-outline.dark:active:focus, .btn.btn-outline.dark:active:hover, .btn.btn-outline.dark:focus, .btn.btn-outline.dark:hover {
    color: #FFF !important;
}

.portlet-title.outcome-portlet{
    background-color: $red-parts !important;
}

.v--modal-overlay .portlet {
    margin-bottom: 0;
}

.v--modal-box.v--modal {
    top: 10% !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

td.pull-right.remove-order a {
    color: red;
}

@media(max-width: 991px){
    .portlet form.form-horizontal{
        padding: 18px !important;
    }
}

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     /* display: none; <- Crashes Chrome on hover */
//     -webkit-appearance: none;
//     margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
// }

.v--modal-overlay.scrollable {
    z-index: 9999;
}

.portlet>.portlet-title>.tools>a {
    margin-left: 13px;
}

span.select2-dropdown.select2-dropdown--below {
    z-index: 999999999999999999999;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 0 !important;
}

span.input-group-addon.no-pad {
    padding: 0 !important;
}

span.input-group-addon.no-pad .btn {
    line-height: 0;
}

td.past-tr-no-plus:before {
    content: '' !important;
    background-color: transparent !important;
    border: 0px solid green !important;
}
td.max-sized {
    max-width: 170px !important;
    overflow: hidden;
}
input.select2-search__field {
    text-transform: uppercase;
}

.new-message {
    float: left;
    font-size: 33px;
}

input#printDate {
    text-align: center;
}

.dashboard-stat2 {
    padding-bottom: 1px !important;
}

.dashboard-stat2 .display .icon {
    position: absolute;
    right: 30px;
}

span.redspan {
    color: red;
}

.statistic-input-date {
    position: absolute;
    width: 110px;
    z-index: 99999999999;
}

table#sample_1 tbody tr td:nth-child(2) {
    max-width: 240px;
    overflow: hidden;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab",sans-serif !important;
}

h3.popover-title {
    background-color: red;
    color: #fff;
}

.dashboard-stat2 .display .number {
    width: 100%;
    margin-top: 15px;
}

nav.quick-nav {
    display: none;
}

input#printMonthsRange {
    left: 150px;
}
@media (max-width: 768px){
    li#customers-component {
        display: none;
    }
}

p.avatar {
    font-size: 28px;
    margin-top: 5px;
    background-color: #f3565d;
    color: #fff;
    text-align: center;
}